fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
pydantic-settings==2.6.0

# DB
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.13.3

# Cache
redis==5.2.0

# Crypto
cryptography==43.0.3

# Scheduler
apscheduler==3.10.4

# HTTP
httpx==0.27.2

# AWS-compatible (для YC S3)
botocore==1.35.36
aioboto3==13.2.0
aiobotocore==2.15.2
boto3-stubs==1.43.9
botocore==1.35.36